<link rel="stylesheet" href="/css/_navbar.css">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="script.js"></script>

<nav class="navbar navbar-dark mb-3">
    <div id='cssmenu'>
        <ul>
            <li>
                <a class="navbar-brand" href="/">Selfcare</a>
            </li>

            <li class='nav-item'>
                <a class="nav-link" href='/showMedicalRecords'>Medical Records</a>
            </li>

            <li class='nav-item'>
                <a class="nav-link" href='#'>placeholder</a>
            </li>
            
            <li class="nav-item" style="width:914px;">
                
            </li>

            <li class="nav-item">
                <a class="nav-item" href='/login'>Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-item" href='/register'>Register</a>
            </li>
        </ul>
    </div>
</nav>
