<link rel="stylesheet" href="/css/_navbar.css">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="script.js"></script>

<nav class="navbar navbar-dark mb-3">
    <div id='cssmenu'>
        <ul>
            <li>
                <a class="nav-link" href="/">Selfcare</a>
            </li>

            <li class='nav-item'>
                <a class="nav-link" href='/about'>About</a>
            </li>

            <li class="nav-item" style="width:1104px;"></li>

            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/records/showRecords">Personal Medical Records</a>
            </li>
            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Medical Records</a>

                <div class="dropdown-menu" id="dropdown-menu">
                    <a class="droptown-item" href="/records/addRecords">Add Medical Records</a>
                    <a class="droptown-item" href="/records/listRecords">Medical Records List</a>
                </div>
            </li>

            <li class="nav-item" style="width:800px;"></li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/displaylogin">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/displayregister">Register</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>