<link rel="stylesheet" type="text/css" href="/css/displayRecords.css">
<div class="container">
    <div>
        <h1 class="text-center">Personal Medical Records</h1>

        <div class="card card-body">
            <div class="row">
                <div class="col-sm-2">
                    <img id="profilepic" src="/image/doctor.jpg">
                </div>
                <div class="col-sm-10">
                    <fieldset>
                        <legend style="max-width:206px;">Personal Particulars</legend>
                        <div class="row">
                            <div class="col-sm-3">Name:</div>
                            <div class="col-sm-3">Height:</div>
                            <div class="col-sm-6">Drug Allergy:</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">Age:</div>
                            <div class="col-sm-3">Weight:</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">Gender:</div>
                            <div class="col-sm-3">Blood Type:</div>
                            <div class="col-sm-6">Major illness(Dengue, H1N1, etc.):</div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Your Medical Record(s):</h3>
                    <textarea class="col-sm-6 col-md-12 col-lg-11" rows="7" cols="60" disabled></textarea>
                </div>

                <div class="col-sm-6">
                    <h3>Important information(s):</h3>
                    <textarea class="col-sm-6 col-md-12 col-lg-12" rows="7" cols="70" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
</div>