<div class="container">
    {{!-- {{#if records}} --}}
    <div class="card card-body">
        <h3 class="text-primary">List of Medical Records</h3>
        {{!-- {{#each records}} --}}
        
    </div>
</div>