{{!-- <div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Your personal Medical Records</p>
	</div>
	<br>
</div> --}}

<div class="card">
	<div class="row">
		<div class="card card-body col-sm-12 col-md-12 col-lg-12" style="text-align:center; background-color:rgb(154, 223, 247);">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h2 class="text-dark font-weight-bold" style="font-size:65px;">Welcome to Selfcare</h2>
					<p class="text-dark font-weight-bold" style="font-size:20px;">Your very own personal healthcare records and consultation tracker</p>
				</div>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>

<div class="card">
	<div class='row'>
		<div class="card card-body col-sm-12 col-md-6 col-lg-6" style="border-left:3px solid black; border-top:3px solid black; text-align:center; background-color:cadetblue;">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h2 class="text-dark font-weight-bold">Track your very own consultation records and medical records</h2>
					<p class="text-dark font-weight-bold">You can now see your own consultation and medical records and manage your helth accordingly</p>
					<a href="/records/showRecords" class="btn btn-sm btn-warning" role="button">Start surfing</a>
				</div>
			</div>
		</div>

		<div class="card card-body col-sm-12 col-md-6 col-lg-6" style="border-top:3px solid black; border-left:3px solid black; border-right:3px solid black; text-align:center; background-color:cadetblue">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h2 class="text-dark font-weight-bold">Enter your reason and details of consultation here</h2>
					<p class="text-dark font-weight-bold">For doctor to have know your illness at the start before your consultation</p>
					<a href="/records/enterConsultation" class="btn btn-sm btn-warning" role="button">Start using</a>
				</div>
			</div>
		</div>

		<div class="card card-body col-sm-12 col-md-12 col-lg-12" style="border:3px solid black; text-align:center; background-color:rgb(154, 223, 247);">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h2 class="text-dark font-weight-bold">Enter medical records for patients here</h2>
					<p class="text-dark font-weight-bold">For patient to manage their own health by their own consultation records</p>
					<a href="/records/addRecords" class="btn btn-sm btn-warning" role="button">Start suffing</a>
				</div>
			</div>
		</div>
	</div>
</div>