<link rel="stylesheet" type="text/css" href="/css/logReg.css">

<div class="container register col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome to Selfcare! It is time to keep yourself inform of your own health</h3>
            {{!-- <input type="submit" name="" value="Register" /><br /> --}}
        </div>
        <div class="col-md-9 register-right">
            {{!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="width:23%;">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Doctor</a>
                </li>

                <li class="nav-item">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="occupation" id="defaultChecked" checked>
                        <label for="defaultChecked" class="custom-control-label">Patient</label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="occupation" id="defaultUnchecked">
                        <label for="defaultUnchecked" class="custom-control-label">Doctor</label>
                    </div>
                </li> --}}
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form method="post" action="/user/login" class="was-validated">
                        <h3 class="register-heading">Patient/Doctor</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group" style="margin-bottom:4px;">
                                    <input type="email" class="form-control" name="email" placeholder="Email *" value="" autocomplete="off" required />
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid email</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> An email must contain '@' and '.com'</div>
                                </div>

                                <p class="message">Do not have an account? Click <a id="registerlink"
                                    class="text-primary" href="/displayregister">here</a> to register for one</p>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password *" value="" required />
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid password</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> Invalid password</div>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btnRegister" value="Login" />
                                </div>
                            </div>
                    </form>
                </div>
            </div>

            {{!-- <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form method="post" action="/user/login">
                    <h3 class="register-heading">Doctor</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group" style="margin-bottom:4px;">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>

                            <p class="message">Do not have an account? Click <a id="registerlink" class="text-primary"
                                    href="/displayregister">here</a> to register for one</p>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>

                            <div class="form-group">
                            </div>
                            <input type="submit" class="btnRegister" value="Login" />
                        </div>
                    </div>
                </form>
            </div> --}}
        </div>
    </div>
</div>
</div>