<div class="container">
    <div class="card card-body">
        <h3 class="text-dark font-weight-bold">Your Profile</h3>

        <div class="card-body ">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <input type="file" id="profileUpload" name="profileUpload" accept="image/png, image/jpeg, image/jpg, image/gif">
                        <div class="font-weight-bold text-danger small" id="profileErr" style="display:none;"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <span class="font-italic">Name:</span>
                            <h3 class="font-weight-bold card-title">{{name}}</h3>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <span class="font-italic">Email:</span>
                            <p class="font-weight-bold card-text">{{email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>